<!DOCTYPE html>
<html lang="ru">  
  <head>
    <title>Rivian Moscow</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ASSETS/CSS/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">

        <nav class="navbar">
            <div>
                <button class="btn btn-gray"><a href="r1t.html">R1T</a></button>
                <button class="btn btn-gray"><a href="r1s.html">R1S</a></button>
                <button class="btn btn-gray"><a href="r2.html">R2</a></button>
                <button class="btn btn-gray"><a href="r3.html">R3</a></button>
            </div>

            <div>
                <span class="nav_title">АВТОМОБИЛИ RIVIAN В МОСКВЕ</span>
            </div>

            <div>
                <button class="btn btn-gray"><a href="#">Тест Драйв</a></button>
                <button class="btn btn-gray"><a href="registration.html">Регистрация</a></button>
            </div>
        </nav>
        <div class="desk_one page">

            <div class="main_content page">
                <div class="main_desc">
                    <div class="desc">
                            Автомобили RIVIAN
                            <br/>
                            новое слово в автомобилестроении
                            <br/>
                            созданы при участии компании FORD
                    </div>
                    <div class="btns">
                        <button class="btn btn-gray"><a href="r1t.html">Купить R1T</a></button>
                        <button class="btn btn-gray"><a href="r1s.html">Купить R1S</a></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="desk_two page">
            <div class="row">
                <div class="col">
                    <div class="title"><span>Машины созданы в гармонии с природой</span></div>
                    <div class="container_img"><a href="r1s.html"><div class="img img1"></div></a></div>
                    <div class="container_img"><a href="r1t.html"><div class="img img2"></div></a></div>
                </div>
                <div class="col">
                    <div class="title"><span>Не важно насколько длительное путешествие Вы запланировали автомобиль преодолеет весь путь. Не важно какое дорожное покрытие Вам встретится в пути автомобиль доставит в точку назначения.</span></div>
                    <div class="container_img"><a href="r2.html"><div class="img img3"></div></a></div>
                    <div class="container_img"><a href="r3.html"><div class="img img4"></div></a></div>
                </div>
            </div>

        </div>

        <div class="desk_three page">
            <div class="col">
                <div class="img"></div>
            </div>
            <div class="col">
                <a href="https://yandex.ru/maps/213/moscow/house/kashirskoye_shosse_61k4s7/Z04YcQZoTkQDQFtvfXpwcnxiYg==/?ll=37.718714%2C55.613016&z=16.42"><div class="img-map"></div></a>
                <div class="text">
                    <span class="address">
                        Мы рады встретить Вас в нашем новом офисе по адресу: 
                    </span>
                    <span class="address">
                        <a href="https://yandex.ru/maps/213/moscow/house/kashirskoye_shosse_61k4s7/Z04YcQZoTkQDQFtvfXpwcnxiYg==/?ll=37.718714%2C55.613016&z=16.42">Каширское ш., 61 к4, Москва, 115563</a>
                    </span>
                </div>
                <div class="img-person"></div>
                <div class="text-bottom">
                    <span>Достигайте новых вершин вместе с нами</span>
                </div>
            </div>
        </div>

        <div class="desk_four page">
            <div class="row">
                <div class="col">
                    <div class="text">
                        <span>Наши услуги</span>
                        <span>Круглосуточная техническая поддержка</span>
                        <!-- <span><a class="remove_undeline" href="">Круглосуточная техническая поддержка</a> </span> -->
                        <span>Резина и шиномонтаж на зиму в подарок</span>
                        <span>Провода для зарядки комплект в подарок</span>
                        <span>Установка и настройка личной зарядной станции</span>
                    </div>
                </div>
                <div class="col">
                    <div class="img"></div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-gray"><a class="remove_underline" href="#">Все услуги</a></button>
            </div>

        </div>

        <div class="desk_five page">
            <div class="img"></div>
        </div>
        
        <div class="footer">
            <div class="row black">
                <div class="col">Сделайте заказ прямо сейчас
                    <br/> и получите индивидуальную скидку</div>
                <div class="col">
                    <button class="btn btn-gray"><a class="remove_underline" href="style_registration.html">Заказать</a></button>
                </div>
            </div>
            <div class="row gray">
                <div class="row">
                    <div class="col">
                        <div class="col"><a href="r1t.html">R1T</div></a>
                        <div class="col"><a href="r1s.html">R1S</div></a>
                        <div class="col"><a href="r2.html">R2</div></a>
                        <div class="col"><a href="r3.html">R3</div></a>
                    </div>
                    <div class="col">
                        <div class="col">Акции</div>
                        <div class="col">Гарантии</div>
                        <div class="col">Модельный ряд</div>
                        <div class="col">Поддержка</div>
                        <div class="col">Сервис</div>
                    </div>
                    <div class="col">
                        <div class="col">Контакты</div>
                        <div class="col">Онлайн заказ</div>
                        <div class="col">Тест драйв</div>
                        <div class="col">Шоурум</div>
                    </div>
                </div>

            </div>
            <div class="row black">

                <div class="col">
                    <div class="col">Условия</div>
                    <div class="col">Услуги</div>
                    <div class="col">Сервис</div>
                    <div class="col">История</div>
                    <div class="col">Обратная связь</div>
                </div>
                <div class="col">
                    <div class="col"><i class="fa-brands fa-linkedin"></i></div>
                    <div class="col"><i class="fa-brands fa-instagram"></i></div>
                    <div class="col"><i class="fa-brands fa-twitter"></i></div>
                    <div class="col"><i class="fa-brands fa-youtube"></i></div>
                </div>

            </div>
        </div>
    </div>

  </body>
</html>