<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Rivian_R1S</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'ASSETS/CSS/r1s_style.css' %}">
</head>
<body>
  <div class="container">
    <h1>Автомобиль Rivian R1S</h1>
    <div class="container_img"><div class="img"></div></div>
    <div class="R1"><p>Автомобиль Rivian R1S</p></div>
    <div class="deskript"><p>Емкость силовых батарей 105 / 135 / 185 кВтч <br>
        
      Запас хода до 483 км Колесная база 3075 мм Мощность 708/710/750 л.с. <br>
      
      Объём заднего багажника 180 л. Углы въезда/выезда 34º / 30º <br>
      
      Грузоподъёмность до 800 кг. Разгон до 100 км/ч 3 сек. <br>
      
      Дорожный просвет 365 мм Крутящий момент 14 000 Нм <br>
      
      Объём переднего багажника 330 л. <br>
      
      Преодоление водных преград<br>
    </p></div>
  
  <div class="btnbuy">
    <button><a href="#">Купить R1S</a></button>
</div>
</div>

</body>
</html>