<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Rivian_R2</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'ASSETS/CSS/r2.css' %}">
</head>
<body>
  <div class="container">
    <h1>Автомобиль Rivian R2</h1>
    <div class="container_img"><div class="img"></div></div>
    <div class="R1"><p>Автомобиль Rivian R2</p></div>
    <div class="deskript"><p>Емкость силовых батарей 105 / 135 / 180 кВтч <br>
        
      Запас хода до 530 км Колесная база 3075 мм Мощность 708/710/750 л.с. <br>
      
      Объём заднего багажника 350 л. Углы въезда/выезда 27º / 25º <br>
      
      Грузоподъёмность до 800 кг. Разгон до 100 км/ч 3 сек. <br>
      
      Дорожный просвет 250 мм Крутящий момент 14 000 Нм <br>
      
      Объём переднего багажника 330 л. <br>
      
      Преодоление водных преград 1 м.<br>
    </p></div>
  
  <div class="btnbuy">
    <button><a href="#">Купить R2</a></button>
</div>
</div>

</body>
</html>